<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
      {{>header}} 
    we will discuss later about this page the owner of this page is mr.{{name}}
    <img src="../public/images/me.png" alt="image to display">
    {{>footer}}
</body>
</html>